/*
LIGHT GREY: #eaeaea
GREY: #a9a9a9
DARK GREY: #4a4a49
 */

@font-face {
  font-family: primetime;
  src: url('../src/assets/polices/primetime.ttf');
}

@font-face {
  font-family: customizedFont;
  src: url('../src/assets/polices/NotoSans-Regular.ttf');
}

@font-face {
  font-family: customizedFont;
  src: url('../src/assets/polices/NotoSans-Bold.ttf');
  font-weight: bold;
}

.bold {
  font-family: customizedFont;
  font-weight: bold;
}



/* BODY */
body, html {
  height: 100%;
  font-family: customizedFont !important;
}



/* APP */
@import '~vuetify/src/stylus/main.styl';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}



/* TOPBAR */
#topbar{
  max-height: 20% !important;
  margin-bottom: 5% !important;
}


#topbar .v-card{
  width: 150px;
  height: 150px;
  background-color: transparent;
  color: #4a4a49;
  text-transform: lowercase;
  font-family: primetime !important;
}

#topbar img{
  margin-top: 5%;
  margin-bottom: 5%;
  height: 60%;
  width: 60%;
}

#topbar hr {
  border: none;
  border-bottom: 2px solid #fafafa;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

#topbar .v-card:hover, #topbar .v-card:focus{
  opacity: 0.7;
}



/* HOMEPAGE */
#homepage {
  background-image: url("../src/assets/images/home_wallpaper.jpg") !important;
  background-repeat: no-repeat;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
  width: 9px;
  background-color: #BDBDBD;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  background-color: #ECEFF1;
}

.scroll-y::-webkit-scrollbar {
  width: 6px;
  background-color: #E1F5FE;
  border-radius: 45px;
}
.scroll-y::-webkit-scrollbar-thumb {
  background-color: #E1F5FE;
  border-radius: 45px;
}
.scroll-y::-webkit-scrollbar-track {
  background-color: #ECEFF1;
}

/* IMG */
.img-circle {
  border-radius: 50%;
}

/* THUMBNAIL */
.thumbnail {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

/* TEXT CSS */
.primetime {
  text-transform: lowercase;
  font-family: primetime !important;
}

.noto {
  font-family: customizedFont !important;
}

.text-darkgrey{
  color: #a9a9a9;
}

.text-grey{
  color: #a9a9a9;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}



/* SCROLL */
.scroll {
  overflow-y: auto;
}



/* HOVER */
.hover-success:hover {
  background-color: #4caf50 !important;
}



/* BTN */
.v-btn {
  font-family: customizedFont;
  font-weight: bold;
}

/* LAYOUT */
.border-right {
  border-right: 2px solid white;
}

.border-left {
  border-left: 2px solid white;
}

/* AUTOCOMPLETE */
.autocomplete {
  position: relative;
  width: 130px;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: 120px;
  overflow: auto;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #4AAE9B;
  color: white;
}
